table{
    border-collapse: collapse;
    margin: auto auto;
}
td{
    width: 150px;
    line-height: 100px;
}
.btn{
    width: 150px;
    line-height: 100px;
}
.btn_click{
    width: 302px;
    line-height: 100px;
    font-size: x-large;
}
.txt{
    width: 600px;
    line-height: 100px;
    font: "SF Mono";
    font-size: x-large;text-align: right;
}
